<!-- your html code here -->
<div class="row">
  <div class="media col-12 bg-light px-5 py-3">
    <div class="media col-12 border-bottom pb-5"> 
    <div class="media-body col-md-8 col-sm-8 col-lg-8">
      <h5 class="mt-2">
        This First Header <span class="text-muted">Will Catch Your Eye</span>
      </h5>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <img
      src="/website1/assets/img/1.jpg"
      class="col-sm-4 col-md-4 col-lg-4 align-self-center mr-3 rounded-circle"
      alt="walter-white"
      style="width: 50%"
    />
    </div>
  </div>
</div>
