<!-- your html code here -->
<div class="row">
  <div class="media col-12 bg-light px-5 py-3">
    <div class="media col-12 border-top border-bottom pt-5 pb-5">
      <img
        src="/website1/assets/img/2.jpg"
        class="col-sm-4 col-md-4 col-lg-4 align-self-center ml-3 rounded-circle"
        alt="typing-desktop"
        style="width: 50%"
      />
      <div class="media-body col-md-8 col-sm-8 col-lg-8">
        <h5 class="mt-2">
          This Second Heading
          <span class="text-muted">Is Pretty Cool Too.</span>
        </h5>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
  </div>
</div>
